body {
  text-align: left;
}

p {
  text-align: left;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

h4 {
  text-align: left;
}

a {
  text-align: left;
}

ul {
  text-align: left;
}

ol {
  text-align: left;
}

li {
  text-align: left;
}

header {
  text-align: center;
}
nav {
  text-align: left;
}

footer {
  text-align: left;
}

image {
  text-align: left;
}
