body {
margin: 60px;
background-color: #fc8bd6;
font-family: Arial, sans-serif;
text-align: left;
text-shadow: 2px 2px 4px #f8d5f4eb;
color: #781256;
}

p {
  margin: 10px 0;
  padding: 30px;
  font-size: 30px;
  line-height: 31px;
  font-weight: normal;
  color: #781256;
  border: 0px solid #f7d9ed; /* Sets a 5px solid light pink border */
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  line-height: 71px;
  font-weight: bold;
  color: #781256;
  border: 20px solid #f7d9ed; /* Sets a 5px solid light pink border */
  text-align: center; /* Centers the text within the heading */
  text-shadow: 2px 2px 4px #f8d5f4eb;
  margin: 80px;
}

h2 {
  font-size: 35px;
  line-height: 36px;
  font-weight: bold;
  color: #781256;
  border: 20px solid #f7d9ed; /* Sets a 5px solid light pink border */
  text-align: center; /* Centers the text within the heading */
  text-decoration: underline; /* Underlines the text */
  margin: 80px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

h3 {
  font-size: 25px;
  line-height: 26px;
  font-weight: bold;
  color: #781256;
  border: 5px solid #f7d9ed; /* Sets a 5px solid light pink border */
  text-align: center; /* Centers the text within the heading */
  text-decoration: underline; /* Underlines the text */
  margin: 80px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

h4 {
  font-size: 20px;
  line-height: 21px;
  font-weight: bold;
  color: #781256;
  border: 5px solid #f993d7; /* Sets a 5px solid light pink border */
  text-align: center; /* Centers the text within the heading */
  text-decoration: underline; /* Underlines the text */
  margin: 80px;
}

ul {
  font-size: 20px;
  line-height: 21px;
  font-weight: normal;
  color: #781256;
  border: 0x solid #f7d9ed; /* Sets a 5px solid light pink border */
  margin-left: 100px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

ol {
  text-align: center;
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  color: #781256;
  border: 5px solid #f7d9ed; /* Sets a 5px solid light pink border */
  margin-left: 100px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

li {
  text-align: center;
  font-size: 25px;
  line-height: 26px;
  font-weight: normal;
  color: #781256;
  border: 0px solid #f7d9ed; /* Sets a 5px solid light pink border */
  text-shadow: 2px 2px 4px #f8d5f4eb;
}
li::marker {
  text-align: center;
}

header {
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  color: #781256;
  background-color: #ff44c1; /* Sets the background color */
  border: 0px solid #f7d9ed; /* Sets a 5px solid light pink border */
  padding: 30px; /* Adds space between the text and the border */
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}
nav {
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  color: #781256;
  text-decoration: bold; /* Removes underline from links */
  border: 0px solid #f7d9ed; /* Sets a 5px solid light pink border */
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

footer {
  font-size: 18px;
  line-height: 19px;
  font-weight: normal;
  color: #781256;
  text-decoration: bold; /* Removes underline from links */
  background-color: #ff44c1; /* Sets the background color */
  border: 20px solid #f7d9ed; /* Sets a 5px solid light pink border */
  text-align: center; /* Centers the text within the heading */
  margin-top: 50px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
}

image {
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  color: #591241;
  border: 5px solid #f7d9ed; /* Sets a 5px solid light pink border */
  margin-top: 50px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
  background-position: fixed;
}
section {
  font-size: 20px;
  line-height: 21px;
  font-weight: normal;
  color: #781256;
  border: 0px solid #f7d9ed; /* Sets a 5px solid light pink border */
  margin-top: 50px;
  text-shadow: 2px 2px 4px #f8d5f4eb;
  text-align: center;
}
a:hover {
    text-decoration: underline; /* underline on hover */
    background-color: #984aa9; /* purple on hover */
    color: white; /* white text on hover */
    transform: scale(1.05); /* slightly enlarge on hover */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* stronger shadow on hover */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; /* smooth transition */
    text-shadow: 2px 2px 4px #f8d5f4eb;
}
main {
  background-color: #ff44c1;
  padding: 30px;
}