body {
     background-color: #fc8bd6;
     font-family: Arial, sans-serif;
     text-align: left;
     margin: 1.2px 50px;
     padding: 100px;
     line-height: 50px;
     font-weight: normal;
     text-wrap: balance;
    } 

h1 {
    color: white;
    font-size: 50px;  
    text-align: left;
    margin: 10px 0;
    text-wrap: balance;
    }

h2 {
    font-size: 40px;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    text-align: left;
    margin: 10px 0;
    text-wrap: balance; 
    }

h3 {
    font-size: 35px;  
    text-align: left;
    margin: 10px 0;
    text-wrap: balance; 
    }

p {
    text-align: left;
    margin: 10px 0;
    padding: 30px;
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
    text-wrap: balance;
    }
a {
    text-align: center;
    font-size: 20px;
    line-height: 5;
    font-weight: normal;
    color: #570d3e;
    text-decoration: none; /* Removes underline from links */
    background-color: #ff44c1; /* Sets the background color */
    border: 10px solid #f993d7; /* Sets a 5px solid light pink border */
    padding: 20px; /* Adds space between the text and the border */
    text-align: center; /* Centers the text within the heading */
    margin: 20px;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }

ol {
    font-size: 20px;
    font-weight: normal;
    color: #781256;
    padding: 30px; /* Adds space between the text and the border */
    text-align: center; /* Centers the text within the heading */
    margin-left: 10px;
    text-shadow: 2px 2px 4px #f8d5f4eb;
}

li {
    text-align: left;
}

a:hover {
    text-decoration: underline; /* underline on hover */
    background-color: #984aa9; /* purple on hover */
    color: white; /* white text on hover */
    transform: scale(1.05); /* slightly enlarge on hover */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* stronger shadow on hover */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; /* smooth transition */
    text-shadow: 2px 2px 4px #f8d5f4eb;
    } 