body {
    background-color: #fc8bd6;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 1.2px 50px;
    padding: 100px;
    line-height: 50px;
    font-weight: normal;
    text-wrap: balance;
    } 
    h1 {
    color: white;
    font-size: 50px;  
    }

    h2 {
    font-size: 40px;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }

    h3 {
    font-size: 30px;
    font-weight: bold;
    color: #781256;
    text-align: center; /* Centers the text within the heading */
    text-decoration: underline; /* Underlines the text */
    text-shadow: 2px 2px 4px #f8d5f4eb;
    margin-bottom: 50px;
    margin-top: 100px;
    }  

    p {
    font-size: 30px;
    font-weight: normal;
    }

    a {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #781256;
    text-decoration: none; /* Removes underline from links */
    background-color: #ff44c1; /* Sets the background color */
    border: 10px solid #f993d7; /* Sets a 5px solid light pink border */
    text-align: center; /* Centers the text within the heading */
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }

   a {
    font-size: 20px;
    font-weight: normal;
    color: #570d3e;
    text-decoration: none; /* Removes underline from links */
    background-color: #ff44c1; /* Sets the background color */
    border: 5px solid #faf8f9; /* Sets a 5px solid light pink border */
    text-align: center; /* Centers the text within the heading */
    margin: 20px;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }

    img {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #591241;
    background-color: #ff44c1; /* Sets the background color */
    border: 5px solid #f7d9ed; /* Sets a 5px solid light pink border */
    text-align: center; /* Centers the text within the heading */ 
    margin-top: 50px;
    text-shadow: 2px 2px 4px #f8d5f4eb;

    } 
    .screenshot-container {
    text-align: center;
    margin: 1.2px 50px;
    font-weight: normal;

    } 