body {
   background-color: #fc8bd6;
   font-family: Arial, sans-serif;
   text-align: left;
   margin: 1.2px 50px;
   padding: 100px;
   line-height: 50px;
   font-weight: normal;
   text-wrap: balance;
  } 
  h1 {
    color: white;
    font-size: 50px;  
    line-height: 20px;
     }
 h2 {
    font-size: 40px;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
 }
h3 {
    font-size: 35px;  
    }
h4 {
    font-size: 30px;
    font-weight: bold;
    color: #781256;
    
    text-decoration: underline; /* Underlines the text */
    text-shadow: 2px 2px 4px #f8d5f4eb;
    margin-bottom: 50px;
    margin-top: 100px;
    }  
p {
    font-size: 30px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 1.2px;
    }
a {
    font-size: 20px;
    line-height: 5;
    font-weight: normal;
    color: #781256;
    text-decoration: none; /* Removes underline from links */
    background-color: #ff44c1; /* Sets the background color */
    border: 10px solid #f8f6f7; /* Sets a 5px solid light pink border */
    padding: 20px; /* Adds space between the text and the border */
    text-align: center; /* Centers the text within the heading */
    margin: 20px;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }
 a:hover {
    text-decoration: underline; /* underline on hover */
    background-color: #984aa9; /* purple on hover */
    color: white; /* white text on hover */
    transform: scale(1.05); /* slightly enlarge on hover */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* stronger shadow on hover */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; /* smooth transition */
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }  
ul {
    font-size: 20px;
    font-weight: normal;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
}
ol {
    font-size: 16px;
    font-weight: normal;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
    }

li {
    font-size: 25px;
    font-weight: normal;
    color: #781256;
    text-shadow: 2px 2px 4px #f8d5f4eb;
  }
 